:root {
  --primary-color: #6366f1;

  --color-success: #22c55e;
  --color-warning: #ffba08;
  --color-error: #ef4444;
  --color-info: #4c82f7;

  --container-padding: 1rem;
  --transition-time: all 0.2s;
}

[data-theme="light"] {
  --color-dark: #0b0f19;
  --color-light: #fff;
  --color-grey-100: #f3f6ff;
  --color-grey-300: #e2e5f1;
  --color-grey-500: #b4b7c9;
  --color-grey-600: #9397ad;
  --color-grey-700: #565973;
  --color-grey-800: #33354d;
  --color-grey-900: var(--color-dark);

  --text-color-dark: #131022;
  --text-color-darkgrey: #585c7b;

  --primary-hover: #575adf;
  --dark-hover: #2d2941;
  --color-border: var(--color-grey-300);
  --color-features-bg: rgba(99, 102, 241, 0.08);

  --box-shadow: rgb(234, 234, 234);
  --form-border: #d4d7e5;
}
[data-theme="dark"] {
  --color-dark: #fff;
  --color-light: #0b0f19;
  --color-grey-100: #33354d;
  --color-grey-300: #565973;
  --color-grey-500: #9397ad;
  --color-grey-600: #b4b7c9;
  --color-grey-700: #e2e5f1;
  --color-grey-800: #f3f6ff;
  --color-grey-900: var(--color-dark);

  --text-color-dark: #fff;
  --text-color-darkgrey: #585c7b;

  --primary-hover: #575adf;
  --dark-hover: #2d2941;
  --color-border: var(--color-grey-300);
  --color-features-bg: rgba(99, 102, 241, 0.08);

  --box-shadow: rgb(234, 234, 234);
  --form-border: #d4d7e5;
}
